.calendar-component {
	.month {
		.label {

		}
		.week {
			.day {
				display: table-cell;
				width: 40px;
				height: 40px;
			}
			.visible {
				background-color: green;
			}
			.invisible {
				background-color: grey;
			}
			.weekend {
				background-color: yellow;
			}
			.holiday {
				background-color: orange;
			}
		}

	}

}